.backg
{
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
h1,h2,p
{
    color: white;
}
.wpembed-index
{
    color: white;
}